body {
    background-image: url(lamp.jpg);
    background-position: center;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    }
h1 {
    color: #920038;
    text-align: center;
    }
h2 {
    margin-top: 17em;
    margin-bottom: -5em;
    color: #6D0000;
    text-align: center;
    margin-left: 3em;
    }
.main {
    margin-top: 2em;
    margin-left: 2em;
    width: 20px;
    padding: 5px;
    }
.main a {
    background-color: #eee;
    color: black;
    padding: 12px; 
    letter-spacing: 1px;
    font-size: 18px;
    float: left;
    width: 10em;
}
.main a:hover {
    background-color: #ccc;
}
.main a.active {
    background-color: #6D0000;
    color: white;
}
a:link {
    color: #922538;
        }
a:visited {
    color: #920038;
    }
a:hover {
    color: #694D58;
    background-color: #E1C4D0;
}
footer {
    color: rgb(255, 251, 251);
    text-align: center;
    margin-top: 20em;
    }