body {
    background-image: url(conclusion.jpg);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3em;
    }
h1 {
    color: #1B3E95;
    text-align: center;
}
p {
    margin-left: 20em;
    margin-right: 5em;
    color: #371522;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.8;
    text-align: justify;
    text-justify: inter-word;
   font-size: 18px;
    }
.main {
    clear: both;
    margin-left: 2em;
    width: 100px;
    padding: 5px;
    }
.main a {
    background-color: #eee;
    color: black;
    padding: 12px; 
    letter-spacing: 1px;
    font-size: 18px;
    float: left;
    width: 10em;
    }
.main a:hover {
    background-color: #ccc;
    color: blue;
}
.main a.active {
    background-color: #6D0000;
    color: white;
}
a:link {
    color: #DC59A8;
        }
a:visited {
    color: #04235D;
    }
a:hover {
    color: #DC89A9;
    background-color: wheat;
    }
footer {
    color: black;
    text-align: center;
    margin-top: 20em;
    }