body {
    background-image: url(history.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    }
.floatr {
    float: right;
    margin: 0.5em -5em 20em 0.5em;
    padding: 8em;
    }
p.k {
   margin-left: 17em;
   margin-right: 40em;
   margin-top: -1em;
   float: none;
   text-align: justify;
   text-justify: inter-word;
   letter-spacing: 1px;
   line-height: 1.8;
   font-size: 18px;
 }
h1 {
   float: none;
   color: #51454A;
   text-align: center;
    }
h2, h3 {
   margin-top: 3em;
   color: #51454A;
   text-align: center;
   text-decoration: underline;
 }
p {
   margin-left: 5em;
   margin-top: -1em;
   float: none;
   text-align: justify;
   text-justify: inter-word;
   letter-spacing: 1px;
   line-height: 1.8;
   font-size: 18px;
    }
div.smallbox {
   margin: 15em 30em 0em 0em;
   text-align: center;
   float: right;
   letter-spacing: 1px;
   font-size: 17px;
}
footer {
    color: black;
    background-position: bottom;
    text-align: center;
    margin-top: 20em;
    }
a:link {
    color: #920038;;
        }
a:visited {
    color: #920038;
    }
a:hover {
    color: #694D58;
    background-color: #E1C4D0;
}
.main {
    clear: both;
    margin-left: 2em;
    width: 100px;
    padding: 5px;
    }
.main a {
    background-color: #eee;
    color: black;
    padding: 12px; 
    letter-spacing: 1px;
    font-size: 18px;
    float: left;
    width: 10em;
}
.main a.active {
    background-color: #6D0000;
    color: white;
    }
.main a:hover {
    background-color: #ccc;
    color: blue;
}