body {
    background-image: url(multi.jpg
);
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 3em;
    }
h1, h2 {
     color: #AE2459;
    text-align: center;
    }
.floatr {
    float: right;
    margin: 0em 5em 0em 0em;
    padding: 5em;
    }
li.u {
    float: none;
    margin-left: 17em;
    margin-right: 3em;
    text-align: justify;
    text-justify: inter-word;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 18px;  
}
p {
    color: #42001A;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.8;
    font-size: 20px;  
}
th {
    padding: 1em 0.5em;
    text-align: left;
    background-color: #CBA2B5;
    border: solid 2px #251D4A;
    border-spacing: 20px;
}
td {
    padding: 1em 0.5em;
    text-align: left;
    color: #42001A;
    background-color: #D3BFBD;
    border: solid 2px #251D4A;
    border-spacing: 20px;
    }
footer {
    color: blue;
    text-align: center;
    margin-top: 20em;
    }
.main {
    clear: both;
    margin-top: 2em;
    margin-left: 2em;
    width: 100px;
    padding: 5px;
    }
.main a {
    background-color: #eee;
    color: black;
    padding: 12px; 
    letter-spacing: 1px;
    font-size: 18px;
    float: left;
    width: 10em;
}
.main a:hover {
    background-color: #ccc;
    color: blue;
}
.main a.active {
    background-color: #6D0000;
    color: white;
}
a:link {
    color: #922538;
        }
a:visited {
    color: #920038;
    }
a:hover {
    color: #694D58;
    background-color: #E1C4D0;
}
